<!doctype html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="./css/style.css">
    <script type="text/javascript" src='./js/jquery-1.11.1.js'></script>
</head>
<body>
<div id="content_id">
</div>
	<input type='hidden' value='<%= email %>'>
</body>
<script>

var data_val = $('input[type=hidden]').val();

var template = '';
$.ajax({
    url: 'contacts/getEmail',
    type: 'GET',
    dataType: 'html',
    success: function(data) {
    	var obj = data.split('|');
    	for (var o in obj) {
        	var content = JSON.parse(obj[o]);
        	if (content.email == data_val) {
        		var user_info = content;
        		for (var j in content) {
                    template += "<p>" + j + ": " + content[j] + "</p>";
                }

                template += "<hr>";
                content_id.innerHTML += template;
        		break;
        	}
        }
    }
});

</script>
</html>