@import './reset.css';

body {
	font: 17px Arial, sans-serif;
}

input {
	border: 1px solid #000000;
	width: 300px;
	height: 20px;
	margin: 15px;
}

#button {
	width: 100px;
	height: 25px;
	cursor: pointer;
}

#content_id {
    border: 1px solid #cccccc;
    width: 350px;
    min-height: 200px;
    padding: 30px;
}

.add {
	display: block;
	width: 80px;
	height: 80px;
	background: url(../img/add.png) no-repeat;
	float: left;
	margin: 5px 30px;
}

.add a {
	display: block;
	width: 80px;
	height: 80px;
	cursor: pointer;
}

.list {
	display: block;
	width: 74px;
	height: 80px;
	background: url(../img/list.png) no-repeat;
	margin: 5px 0;
	float: left;
}

.list a {
	display: block;
	width: 74px;
	height: 80px;
	cursor: pointer;
}

.clear {
	clear: both;
}

.delete_style {
	width: 300px;
	height: 5px;
	border-bottom: 1px solid #cccccc;
	margin-bottom: 10px;
	position: relative;
}

.delete {
	width: 16px;
	height: 16px;
	background: url(../img/delete.png) no-repeat;
	cursor: pointer;
	position: absolute;
	top: -65px;
	left: 340px;
}