@import url(reset.css);
@font-face {
    font-family: "gotham";
    src: url(../fonts/gotham.ttf);
}

body {
	background: #c0deed;
}

#header {
	width: 100%;
	height: 46px;
	background: #ffffff;
	position: fixed;
	box-shadow: 0px 5px 10px #e1e8ed;
	z-index: 10000;
}

#content {
	width: 100%;
	height: 182px;
	background: url(../images/bg.png) repeat-x;
	margin-top: -10px;
}

#nav_wrapper {
	max-width: 1190px;
	height: 46px;
	margin: 0 auto;
}

#nav {
    height: 46px;
    width: 250px;
    float: left;
}

#nav li {
	float: left;
	color: #292f33;
	/*outline: 1px solid red;*/
	height: 29px;
	font: 13px "gotham", sans-serif;
	padding: 17px 10px 0 10px;
	cursor: pointer;

	-moz-transition: all 0.1s linear;
    -webkit-transition: all 0.1s linear;
    transition: all 0.1s linear;
}

#nav li a {
	display: block;
	height: 29px;
	color: #292f33;
	text-decoration: none;
}

#nav li:hover a {
	color: #0084B4;
}

#nav li:hover {
	color: #0084B4;
	border-bottom: 4px solid #0084b4;
	height: 25px;
}

.active {
	color: #0084B4;	
}

.home {
	background: url(../images/home.png) no-repeat;
	width: 27px;
	height: 24px;
	display: block;
	margin-right: 15px;
	float: left;
	margin-top: -6px;
	position: absolute;
	opacity: 1;
}

.home1 {
	background: url(../images/home1.png) no-repeat;
	width: 27px;
	height: 24px;
	display: block;
	margin-right: 15px;
	float: left;
	margin-top: -6px;
	position: absolute;
	opacity: 0;
}

.notification {
	background: url(../images/notification.png) no-repeat;
	width: 19px;
	height: 24px;
	display: block;
	margin-right: 15px;
	float: left;
	margin-top: -6px;
	position: absolute;
	opacity: 1;
}

.notification1 {
	background: url(../images/notification1.png) no-repeat;
	width: 19px;
	height: 24px;
	display: block;
	margin-right: 15px;
	float: left;
	margin-top: -6px;
	position: absolute;
	opacity: 0;
}

.li_text {
	float: right;
	margin-left: 35px;
}

.twitter_icon {
	width: 40px;
	height: 40px;
	background: url(../images/twitter_icon.png) no-repeat;
	float: left;
	cursor: pointer;
	margin-top: 4px;
}

#container {
	width: 1190px;
	min-height: 500px;
	/*outline: 1px solid red;*/
	margin: 10px auto;
	padding-top: 60px;
}

/*#left {
	float: left;
	width: 290px;
	height: 255px;
	border: 1px solid #e1e8ed;
	background: #FFF;
	border-radius: 6px;
	margin-right:10px;
}*/

#center {
	float: left;
	min-width: 450px;
	min-height: 100px;
	border-top-width: 0;
	border-radius: 6px;
	border-bottom-width: 1px;
	background: #E5F2F7;
	padding: 12px;
}

.note_div {
	height: 47px;
	width: 620px;
	background: #FFF;
	padding: 12px;
	border-bottom: 2px solid #e1e8ed;
	border-radius: 5px 5px 0 0;
}

.note_footer_div {
	height: 47px;
	width: 620px;
	background: #FFF;
	padding: 12px;
	border-bottom: 1px solid #e1e8ed;
	border-radius: 0 0 5px 5px;	
}

.note_text {
	color: #66757f;
	font: 300 22px 'gotham', sans-serif;
	line-height: 22px;
	display: block;
	margin-top: 12px;
}

.notification_center {
	float: left;
	width: 620px;
	min-height: 50px;
	background: #FFF;
	padding: 9px 12px;
	border-bottom: 2px solid #e1e8ed;
	cursor: pointer;
	font: 20px 'gotham', sans-serif;
	color: #66757f;
	line-height: 40px;
	position: relative;
}

.notification_center:hover {
	background: #f5f8fa;
}

.delete {
	position: absolute;
	width: 50px;
	height: 50px;
	cursor: pointer;
	background: url(../images/delete.png) no-repeat;
	top: 5px;
	right: -24px;
	display: none;
}


#show {
	display: block;
}

.text {
	width: 265px;
	height: 35px;
	border: 1px solid #BFE0EC;
	border-radius: 5px;
	text-indent: 7px;
	font: 15px gotham;
	letter-spacing: 1px;
	color: #677D95;
	margin-bottom: 5px;
}

.textarea {
	width: 500px;
	height: 300px;
	border: 1px solid #BFE0EC;
	border-radius: 5px;
	font: 15px "gotham";
	letter-spacing: 1px;
	color: #677D95;
	padding-left: 10px;
	padding-top: 10px;
	margin-bottom: 5px;
	resize: none;
}

.captcha {
	width: 170px;
	height: 30px;
	border: 1px solid #BFE0EC;
	border-radius: 5px;
	text-indent: 7px;
	font: 15px gotham;
	letter-spacing: 1px;
	color: #677D95;
}

.tweet_button {
	padding: 9px 16px 8px 17px;
	text-align: center;
	border: 1px solid transparent;
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
	border-radius: 5px;
	margin-left: 53px;
	background: #2D99C1;
	cursor: pointer;
}

.tweet_button:hover {
	background: #096890;
}

.tweet_pic {
	width: 19px;
	height: 19px;
	background: url(../images/tweet_pic.png) no-repeat;
	display: block;
	float: left;
}

.loader {
	width: 19px;
	height: 19px;
	background: url(../images/loader.GIF) no-repeat;
	display: none;
	float: left;	
}

.tweet_text {
	font: 14px "gotham";
	color: #FFF;
	letter-spacing: 1px;
	display: block;
	float: right;
	margin-left: 5px;
	margin-top: 2px;
}

.error {
	padding: 7px;
	width: 509px;
	border: 0px solid #E5F2F7;
	background: #E5F2F7;
	height: 45px;
	border-bottom-right-radius: 6px;
	border-top-right-radius: 6px;
	margin-bottom: 10px;
	position: relative;
	border-left: 15px solid green;
}

.close {
	position: absolute;
	width: 15px;
	height: 15px;
	cursor: pointer;
	background: url(../images/close.png) no-repeat;
	top: 5px;
	right: 5px;
}

.error_msg {
	font: 17px "gotham", sans-serif;
	color: #DD4814;
	letter-spacing: 2px;
	text-align: center;
	display: block;
	text-shadow: 0 0 1px #000;
	margin-top: 12px;
}

.success_msg {
	font: 17px "gotham", sans-serif;
	color: #008000;
	letter-spacing: 2px;
	text-align: center;
	display: block;
	text-shadow: 0 0 1px #000;
	margin-top: 12px;
}

.link {
	font: 20px Arial, sans-serif;
	color: #66757F;
	text-decoration: none;
}

.tags {
	font: 17px Verdana;
    letter-spacing: 2px;
    text-decoration: none;
    color: #2CA7E0;
}

.tags:hover {
	text-decoration: underline;
}

.link:hover {
	text-decoration: underline;
}
.clear {
	clear: both;
}