<div id='header'>
	<div id='nav_wrapper'>
		<ul id='nav'>
			<li><span class='home1'></span><span class='home'></span><span class='li_text'><a href='index.html'>Home</a></span></li>
			<li><span class='notification1'></span><span class='notification'></span><span class='li_text'><a href='notification.html'>Notifications</a></span></li>
			<div class='clear'></div>
		</ul>
		<div class='twitter_icon'></div>
	</div>
</div>